<!DOCTYPE html>
<html>
	<head>
		<title>Synthèse de la réservation</title>
		<!-- Ajoutez vos liens vers les styles et scripts nécessaires ici -->
	</head>
	<body>
		<div class="container">
			<h1>Synthèse de la réservation</h1>

			<!-- Affichage des détails du véhicule choisi -->
			<div>
				<h2>Détails du véhicule choisi :</h2>
				<p>Marque :
					{{ vehicule.marque }}</p>
				<p>Titre :
					{{ vehicule.titre }}</p>
				<p>Modèle :
					{{ vehicule.modele }}</p>
				<!-- Autres détails du véhicule -->
			</div>

			<!-- Affichage des dates de début et de fin de réservation -->
			<div>
				<h2>Dates de réservation :</h2>
				<p>Date de début :
					{{ dateDebut }}</p>
				<p>Date de fin :
					{{ dateFin }}</p>
			</div>


		</div>

		<!-- Ajoutez vos scripts nécessaires ici -->
	</body>
</html>
