{# admin/orders_by_id.html.twig #}
<!DOCTYPE html>
<html>
	<head>
		<title>Commande Details</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<style>
			/* Style pour l'image dans le cadre */
			.img-small {
				max-width: 100%;
				height: auto;
				display: block;
				margin: auto;
				max-height: 300px; /* Ajustez la taille maximale si nécessaire */
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="{{ path('homeAdmin') }}">Kaya admin</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav ml-auto">
					{% if app.user %}
						<!-- Si l'utilisateur est connecté -->
						<li class="nav-item">
							<a class="nav-link" href="{{ path('user_details') }}">Profil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
						</li>
					{% else %}
						<!-- Si l'utilisateur n'est pas connecté -->
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</nav>
		<div class="container mt-5">
			<h1>Detail de la commande</h1>
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Commande ID:
						{{ commande.id }}</h5>
					<p class="card-text">ID de l'utilisateur:
						{{ commande.user.id }}</p>
					<p class="card-text">
						Pseudo de l'utilisateur:
						{{ commande.user.pseudo }}</p>
					<p class="card-text">Nom de l'utilisateur:
						{{ commande.user.nom }}</p>
					<p class="card-text">Prénom de l'utilisateur:
						{{ commande.user.prenom }}</p>
					<p class="card-text">Date de Départ:
						{{ commande.getDateDepart|date('Y-m-d') }}</p>
					<p class="card-text">Date de Fin:
						{{ commande.getDateFin|date('Y-m-d') }}</p>
					<p class="card-text">Prix Total:
						{{ commande.getPrixTotal }}</p>

					<!-- Affichage des détails du véhicule -->
					<h5 class="card-title">Détails du Véhicule</h5>
					{% if commande.vehicule.photo %}
						<img src="{{ asset('upload/' ~ commande.vehicule.photo) }}" alt="Photo du véhicule" class="img-small">
					{% endif %}
					<p class="card-text">Marque:
						{{ commande.vehicule.marque }}</p>
					<p class="card-text">Modèle:
						{{ commande.vehicule.modele }}</p>
					<p class="card-text">Description:
						{{ commande.vehicule.description }}</p>
					<p class="card-text">Prix Journalier:
						{{ commande.vehicule.getPrixJournalier }}</p>

					<!-- Ajoutez d'autres détails du véhicule ici -->

					<!-- Bouton pour revenir en arrière -->
					<a href="{{ path('orders_list') }}" class="btn btn-primary">Retour</a>
				</div>
			</div>
		</div>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</body>
</html>
