<!DOCTYPE html>
<html>
	<head>
		<title>Détails du véhicule</title>
		<!-- Inclure Bootstrap CSS -->
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
		<style>
			/* Style pour l'image arrondie */
			.rounded-img {
				border-radius: 10px;
			}
			/* Style pour l'emoji */
			.emoji {
				font-size: 0.2; /* Taille réduite */
				margin-right: 5px;
			}
			/* Style pour le cadre du texte */
			.text-frame {
				border: 1px solid #ccc;
				padding: 15px;
				border-radius: 10px;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="{{ path('homeAdmin') }}">Kaya admin</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav ml-auto">
					{% if app.user %}
						<!-- Si l'utilisateur est connecté -->
						<li class="nav-item">
							<a class="nav-link" href="{{ path('user_details') }}">Profil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
						</li>
					{% else %}
						<!-- Si l'utilisateur n'est pas connecté -->
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</nav>
		<div class="container">

			<h4>
				<a href="{{ path('vehicules_list') }}">
					<span class="emoji" style="font-size: 0.8em;">🔙</span>
				</a>
				Détails du véhicule
			</h4>
			{% if vehicule %}
				<div class="row">
					{% if vehicule.photo %}
						<div
							class="col-md-6">
							<!-- Colonne pour la photo redimensionnée -->
							<img src="{{ asset('upload/' ~ vehicule.photo) }}" alt="Photo du véhicule" class="img-fluid rounded-img">
						</div>
					{% endif %}
					<div
						class="col-md-6">
						<!-- Colonne pour les autres détails du véhicule -->
						<div class="text-frame">
							<p>Marque:
								{{ vehicule.marque }}</p>
							<p>Modèle:
								{{ vehicule.modele }}</p>
							<p>Description:
								{{ vehicule.description }}</p>

							<!-- Autres détails du véhicule -->
						</div>
					</div>
				</div>
			{% else %}
				<p>Aucun véhicule trouvé.</p>
			{% endif %}
		</div>

		<!-- Inclure Bootstrap JS -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</body>
</html>
